@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
*/
/* line 5, ../scss/_reset.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 8, ../scss/_reset.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 9, ../scss/_reset.scss */
body {
  line-height: 1;
}

/* line 10, ../scss/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 11, ../scss/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 12, ../scss/_reset.scss */
blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

/* line 13, ../scss/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "DIN";
  src: url("DIN.TTF");
}
/*$desktop: 60em;
$tablette: 40em;

$responsivewidthtablette:40em;
$responsivewidthscreen: 60em;*/
@keyframes blinker {
  from {
    opacity: 1.0;
  }
  to {
    opacity: 0.5;
  }
}
/* line 34, ../scss/_alerts.scss */
.alert {
  box-sizing: border-box;
  display: inline-block;
  border: transparent solid 1px;
  color: white;
  background-color: #666666;
  display: inline-block;
  padding: 1rem;
  font-weight: bold;
  font-family: "DIN", "Arial", sans-serif;
  font-size: 1em;
  text-transform: uppercase;
  margin: 10px 0;
  width: 100%;
  text-align: center;
  border-radius: 15px;
  text-decoration: blink;
  -webkit-animation-name: blinker;
  -webkit-animation-duration: 0.7s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-direction: alternate;
}

/* line 38, ../scss/_alerts.scss */
.alertOrange {
  box-sizing: border-box;
  display: inline-block;
  border: transparent solid 1px;
  color: white;
  background-color: #EE8400;
  display: inline-block;
  padding: 1rem;
  font-weight: bold;
  font-family: "DIN", "Arial", sans-serif;
  font-size: 1em;
  text-transform: uppercase;
  margin: 10px 0;
  width: 100%;
  text-align: center;
  border-radius: 15px;
  text-decoration: blink;
  -webkit-animation-name: blinker;
  -webkit-animation-duration: 0.7s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-direction: alternate;
}

/* line 42, ../scss/_alerts.scss */
.alertGreen {
  box-sizing: border-box;
  display: inline-block;
  border: transparent solid 1px;
  color: white;
  background-color: #1CB841;
  display: inline-block;
  padding: 1rem;
  font-weight: bold;
  font-family: "DIN", "Arial", sans-serif;
  font-size: 1em;
  text-transform: uppercase;
  margin: 10px 0;
  width: 100%;
  text-align: center;
  border-radius: 15px;
  text-decoration: blink;
  -webkit-animation-name: blinker;
  -webkit-animation-duration: 0.7s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-direction: alternate;
}

/* line 46, ../scss/_alerts.scss */
.alertBlue {
  box-sizing: border-box;
  display: inline-block;
  border: transparent solid 1px;
  color: white;
  background-color: #4ea6ca;
  display: inline-block;
  padding: 1rem;
  font-weight: bold;
  font-family: "DIN", "Arial", sans-serif;
  font-size: 1em;
  text-transform: uppercase;
  margin: 10px 0;
  width: 100%;
  text-align: center;
  border-radius: 15px;
  text-decoration: blink;
  -webkit-animation-name: blinker;
  -webkit-animation-duration: 0.7s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-direction: alternate;
}

/* line 50, ../scss/_alerts.scss */
.alertRed {
  box-sizing: border-box;
  display: inline-block;
  border: transparent solid 1px;
  color: white;
  background-color: #CA3C3C;
  display: inline-block;
  padding: 1rem;
  font-weight: bold;
  font-family: "DIN", "Arial", sans-serif;
  font-size: 1em;
  text-transform: uppercase;
  margin: 10px 0;
  width: 100%;
  text-align: center;
  border-radius: 15px;
  text-decoration: blink;
  -webkit-animation-name: blinker;
  -webkit-animation-duration: 0.7s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-direction: alternate;
}

/*
GENERAL
*/
/* line 5, ../scss/_typos.scss */
body {
  font-family: "DIN", "Arial", sans-serif;
}

/* line 9, ../scss/_typos.scss */
p {
  margin-bottom: 1rem;
}

/*
LES TITRES
*/
/* line 17, ../scss/_typos.scss */
h1 {
  font-size: 1.7rem;
}
/* line 19, ../scss/_typos.scss */
h1.sub {
  font-size: 1.36rem;
}

/* line 24, ../scss/_typos.scss */
h2 {
  font-size: 1.5rem;
}
/* line 26, ../scss/_typos.scss */
h2.sub {
  font-size: 1.2rem;
}

/* line 31, ../scss/_typos.scss */
h3 {
  font-size: 1.3rem;
}
/* line 33, ../scss/_typos.scss */
h3.sub {
  font-size: 1.04rem;
}

/* line 38, ../scss/_typos.scss */
h4 {
  font-size: 1.1rem;
}
/* line 40, ../scss/_typos.scss */
h4.sub {
  font-size: 0.88rem;
}

/* line 45, ../scss/_typos.scss */
h5 {
  font-size: 1rem;
}
/* line 47, ../scss/_typos.scss */
h5.sub {
  font-size: 0.8rem;
}

/* line 52, ../scss/_typos.scss */
h6 {
  font-size: 0.9rem;
}
/* line 54, ../scss/_typos.scss */
h6.sub {
  font-size: 0.72rem;
}

/* line 59, ../scss/_typos.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}
/* line 67, ../scss/_typos.scss */
h1 > small,
h2 > small,
h3 > small,
h4 > small,
h5 > small,
h6 > small {
  color: #333333;
  font-size: 0.8em;
  font-weight: lighter;
}
/* line 73, ../scss/_typos.scss */
h1.sub,
h2.sub,
h3.sub,
h4.sub,
h5.sub,
h6.sub {
  color: #333333;
  font-weight: normal;
}

/*
INLINE
*/
/* line 83, ../scss/_typos.scss */
strong {
  font-weight: bold;
}

/* line 87, ../scss/_typos.scss */
u {
  text-decoration: none;
  border-bottom: 1px red dotted;
}

/* line 92, ../scss/_typos.scss */
em {
  font-style: italic;
}

/*
QUOTE & BLOCKQUOTE
*/
/* line 100, ../scss/_typos.scss */
blockquote {
  background: #f9f9f9;
  font-family: cursive;
  border-left: 10px solid #dcdcdc;
  margin: 10px 10px 30px;
  padding: 10px;
  max-width: 80%;
}
/* line 108, ../scss/_typos.scss */
blockquote:before {
  color: #dcdcdc;
  content: "\201C";
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
/* line 117, ../scss/_typos.scss */
blockquote:after {
  color: #dcdcdc;
  content: "\201D";
  font-size: 4em;
  line-height: 0.1em;
  margin-left: 0.25em;
  vertical-align: -0.7em;
}
/* line 126, ../scss/_typos.scss */
blockquote p {
  display: inline;
}

/* line 131, ../scss/_typos.scss */
code {
  border-left: 10px solid #666666;
  display: block;
  font-family: monospace;
  color: #f9f9f9;
  background-color: black;
  margin-top: 10px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
  padding: 10px;
  max-width: 90%;
  font-size: 0.8rem;
}
@media screen and (min-width: 768px) {
  /* line 131, ../scss/_typos.scss */
  code {
    max-width: 800px;
    font-size: 1rem;
  }
}
/* line 150, ../scss/_typos.scss */
code p {
  line-height: 0.2em;
}

/* line 157, ../scss/_typos.scss */
pre {
  display: block;
  font-family: monospace;
  white-space: pre;
  margin: 10px 10px 20px;
}

/* line 164, ../scss/_typos.scss */
kbd {
  border-left: 10px solid #dcdcdc;
  display: block;
  font-family: monospace;
  background-color: #f9f9f9;
  margin: 10px 10px 20px;
  padding: 10px;
  max-width: 80%;
}
/* line 173, ../scss/_typos.scss */
kbd p {
  line-height: 0.2em;
}

/*
LES LISTES
*/
/* line 182, ../scss/_typos.scss */
li {
  list-style-type: disc;
  margin-left: 2em;
}

/* line 188, ../scss/_typos.scss */
.ulsquare li {
  list-style-type: square;
}

/* line 192, ../scss/_typos.scss */
.ulnostyle li, header nav .navbar li {
  list-style-type: none;
}

/*
Alignements et transformations
*/
/* line 200, ../scss/_typos.scss */
.alleft {
  text-align: left;
}

/* line 204, ../scss/_typos.scss */
.alright {
  text-align: right;
}

/* line 208, ../scss/_typos.scss */
.alcenter {
  text-align: center;
}

/* line 212, ../scss/_typos.scss */
.aljustified, .ListInfo1 p.ListDescr, #detailsDoc p {
  text-align: justify;
}

/* line 216, ../scss/_typos.scss */
.smallcaps {
  font-variant: small-caps;
}

/* line 220, ../scss/_typos.scss */
.lowercase {
  text-transform: lowercase;
}

/* line 224, ../scss/_typos.scss */
.uppercase {
  text-transform: uppercase;
}

/* line 228, ../scss/_typos.scss */
.capitalize {
  text-transform: capitalize;
}

/*
TABLES ET TABLEAUX
*/
/* line 236, ../scss/_typos.scss */
table {
  width: 100%;
  margin: 1em auto 2em;
  text-align: center;
  display: table;
  max-width: 400px;
}
/* line 243, ../scss/_typos.scss */
table th {
  font-variant: small-caps;
}

/* line 248, ../scss/_typos.scss */
table,
th,
td {
  padding: 0.5em 1em 0.5em 1em;
}

/*Tableau bordures*/
/* line 256, ../scss/_typos.scss */
.tableborder,
.tableborder th,
.tableborder td {
  border: 1px solid #666666;
}

/*Tableau ligne alternees*/
/* line 264, ../scss/_typos.scss */
.tablealterne tr:nth-child(even) {
  background-color: white;
  /*blanc*/
}

/* line 269, ../scss/_typos.scss */
.tablealterne tr:nth-child(odd) {
  background-color: #dcdcdc;
  /*gris*/
}

/* line 274, ../scss/_typos.scss */
.tablealterne th {
  background-color: #666666;
  color: white;
}

/*tableau avec survol*/
/* line 281, ../scss/_typos.scss */
.tablehover tr:not(th) {
  transition: all 300ms ease-out;
  -webkit-transition: all 300ms ease-out;
}

/* line 286, ../scss/_typos.scss */
.tablehover tr:hover:not(th) {
  background-color: #666666;
  color: white;
}

/* line 291, ../scss/_typos.scss */
a {
  color: #4ea6ca;
}
/* line 297, ../scss/_typos.scss */
a:hover {
  color: #333333;
}
/* line 301, ../scss/_typos.scss */
a.disabled {
  color: #f9f9f9;
}
/* line 303, ../scss/_typos.scss */
a.disabled:hover {
  cursor: not-allowed;
}
/* line 308, ../scss/_typos.scss */
a.active {
  color: black;
  text-decoration: none;
  cursor: default;
}

/* line 29, ../scss/_buttons.scss */
.btn, header nav #recherche_rapide button, #detailsDoc .docReserve a, #Login #login-form button, #formMoteurRecherche #btnRechercher, button.btnRetour, .btnFermer {
  border: transparent solid 1px;
  color: white;
  background-color: #666666;
  display: inline-block;
  padding: 3px 3px;
  margin: 10px;
  font-weight: bold;
  font-family: "DIN", "Arial", sans-serif;
  font-size: 1em;
  text-transform: capitalize;
  -webkit-transition: all 200ms ease-out;
  -moz-transition: all 200ms ease-out;
  -ms-transition: all 200ms ease-out;
  -o-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
  -moz-box-shadow: 0 0 5px #888;
  -webkit-box-shadow: 0 0 5px #888;
  box-shadow: 0 0 5px #888;
}
/* line 21, ../scss/_buttons.scss */
.btn:hover, header nav #recherche_rapide button:hover, #detailsDoc .docReserve a:hover, #Login #login-form button:hover, #formMoteurRecherche #btnRechercher:hover, button.btnRetour:hover, .btnFermer:hover {
  cursor: pointer;
  background-color: transparent;
  color: #666666;
  border: #666666 solid 1px;
}

/* line 33, ../scss/_buttons.scss */
.btnOrange {
  border: transparent solid 1px;
  color: white;
  background-color: #EE8400;
  display: inline-block;
  padding: 3px 3px;
  margin: 10px;
  font-weight: bold;
  font-family: "DIN", "Arial", sans-serif;
  font-size: 1em;
  text-transform: capitalize;
  -webkit-transition: all 200ms ease-out;
  -moz-transition: all 200ms ease-out;
  -ms-transition: all 200ms ease-out;
  -o-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
  -moz-box-shadow: 0 0 5px #888;
  -webkit-box-shadow: 0 0 5px #888;
  box-shadow: 0 0 5px #888;
}
/* line 21, ../scss/_buttons.scss */
.btnOrange:hover {
  cursor: pointer;
  background-color: transparent;
  color: #EE8400;
  border: #EE8400 solid 1px;
}

/* line 37, ../scss/_buttons.scss */
.btnRed, .btnFermer {
  border: transparent solid 1px;
  color: white;
  background-color: #CA3C3C;
  display: inline-block;
  padding: 3px 3px;
  margin: 10px;
  font-weight: bold;
  font-family: "DIN", "Arial", sans-serif;
  font-size: 1em;
  text-transform: capitalize;
  -webkit-transition: all 200ms ease-out;
  -moz-transition: all 200ms ease-out;
  -ms-transition: all 200ms ease-out;
  -o-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
  -moz-box-shadow: 0 0 5px #888;
  -webkit-box-shadow: 0 0 5px #888;
  box-shadow: 0 0 5px #888;
}
/* line 21, ../scss/_buttons.scss */
.btnRed:hover, .btnFermer:hover {
  cursor: pointer;
  background-color: transparent;
  color: #CA3C3C;
  border: #CA3C3C solid 1px;
}

/* line 41, ../scss/_buttons.scss */
.btnGreen {
  border: transparent solid 1px;
  color: white;
  background-color: #1CB841;
  display: inline-block;
  padding: 3px 3px;
  margin: 10px;
  font-weight: bold;
  font-family: "DIN", "Arial", sans-serif;
  font-size: 1em;
  text-transform: capitalize;
  -webkit-transition: all 200ms ease-out;
  -moz-transition: all 200ms ease-out;
  -ms-transition: all 200ms ease-out;
  -o-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
  -moz-box-shadow: 0 0 5px #888;
  -webkit-box-shadow: 0 0 5px #888;
  box-shadow: 0 0 5px #888;
}
/* line 21, ../scss/_buttons.scss */
.btnGreen:hover {
  cursor: pointer;
  background-color: transparent;
  color: #1CB841;
  border: #1CB841 solid 1px;
}

/* line 46, ../scss/_buttons.scss */
.btnBlue, header nav #recherche_rapide button, #detailsDoc .docReserve a, #Login #login-form button, #formMoteurRecherche #btnRechercher {
  border: transparent solid 1px;
  color: white;
  background-color: #4ea6ca;
  display: inline-block;
  padding: 3px 3px;
  margin: 10px;
  font-weight: bold;
  font-family: "DIN", "Arial", sans-serif;
  font-size: 1em;
  text-transform: capitalize;
  -webkit-transition: all 200ms ease-out;
  -moz-transition: all 200ms ease-out;
  -ms-transition: all 200ms ease-out;
  -o-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
  -moz-box-shadow: 0 0 5px #888;
  -webkit-box-shadow: 0 0 5px #888;
  box-shadow: 0 0 5px #888;
}
/* line 21, ../scss/_buttons.scss */
.btnBlue:hover, header nav #recherche_rapide button:hover, #detailsDoc .docReserve a:hover, #Login #login-form button:hover, #formMoteurRecherche #btnRechercher:hover {
  cursor: pointer;
  background-color: transparent;
  color: #4ea6ca;
  border: #4ea6ca solid 1px;
}

/* line 52, ../scss/_buttons.scss */
.btn:active, header nav #recherche_rapide button:active, #detailsDoc .docReserve a:active, #Login #login-form button:active, #formMoteurRecherche #btnRechercher:active, button.btnRetour:active, .btnFermer:active {
  /*border:transparent solid 1px;*/
  -webkit-box-shadow: 0px 0px 42px -11px rgba(0, 0, 0, 0.63);
  -moz-box-shadow: 0px 0px 42px -11px rgba(0, 0, 0, 0.63);
  box-shadow: 0px 0px 42px -11px rgba(0, 0, 0, 0.63);
}

/* line 59, ../scss/_buttons.scss */
.btnSmall {
  font-weight: normal;
  font-size: 80%;
  padding: 2px 5px;
}

/* line 65, ../scss/_buttons.scss */
.btnLarge {
  font-weight: bolder;
  font-size: 130%;
  padding: 10px 15px;
}

/* line 71, ../scss/_buttons.scss */
.btnFlat, header nav #recherche_rapide button, #detailsDoc .docReserve a, #Login #login-form button, #formMoteurRecherche #btnRechercher, button.btnRetour, .btnFermer {
  font-weight: lighter;
  font-size: 110%;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/* line 77, ../scss/_buttons.scss */
.btnFlat:active, header nav #recherche_rapide button:active, #detailsDoc .docReserve a:active, #Login #login-form button:active, #formMoteurRecherche #btnRechercher:active, button.btnRetour:active, .btnFermer:active {
  font-weight: normal;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

/* line 86, ../scss/_buttons.scss */
.btnXtra {
  padding: 1rem;
  margin-left: 0;
  margin-right: 0;
  width: 100%;
}

/* line 93, ../scss/_buttons.scss */
.btnFancy {
  padding: 8px 16px;
  color: white;
  text-decoration: none;
  vertical-align: middle;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -moz-box-shadow: 2px 2px 1px 0px #656565;
  -webkit-box-shadow: 2px 2px 1px 0px #656565;
  -o-box-shadow: 2px 2px 1px 0px #656565;
  box-shadow: 2px 2px 1px 0px #656565;
  text-shadow: rgba(0, 0, 0, 0.4) 0 1px 0;
}

/* line 5, ../scss/_composants.scss */
nav {
  color: rgba(78, 166, 202, 0.8);
  border-bottom: 3px #dcdcdc solid;
}
/* line 21, ../scss/_composants.scss */
nav .navbarbloc {
  text-align: center;
}
/* line 24, ../scss/_composants.scss */
nav .navbarbloc .navbar {
  text-align: center;
  font-variant: small-caps;
  display: inline-block;
}
/* line 29, ../scss/_composants.scss */
nav .navbarbloc .navbar li {
  width: 96%;
  margin-top: 5px;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
  display: inline-block;
}
@media screen and (min-width: 768px) {
  /* line 29, ../scss/_composants.scss */
  nav .navbarbloc .navbar li {
    width: auto;
    margin-top: 5px;
    margin-bottom: 5px;
  }
}
@media screen and (min-width: 1280px) {
  /* line 29, ../scss/_composants.scss */
  nav .navbarbloc .navbar li {
    width: auto;
    margin-top: 5px;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 5px;
  }
}
/* line 52, ../scss/_composants.scss */
nav .navbarbloc .navbar a {
  font-size: 1.3em;
  text-decoration: none;
  color: white;
}
@media screen and (min-width: 1280px) {
  /* line 52, ../scss/_composants.scss */
  nav .navbarbloc .navbar a {
    font-size: 1.25em;
    color: white;
  }
}
/* line 62, ../scss/_composants.scss */
nav .navbarbloc .navbar a:hover {
  text-decoration: underline;
  color: #333333;
}
/* line 67, ../scss/_composants.scss */
nav .navbarbloc .navbar a.disabled {
  color: #dcdcdc;
}
/* line 69, ../scss/_composants.scss */
nav .navbarbloc .navbar a.disabled:hover {
  text-decoration: none;
}
/* line 74, ../scss/_composants.scss */
nav .navbarbloc .navbar a.active {
  color: black;
  text-decoration: none;
}

/* line 93, ../scss/_composants.scss */
header {
  margin-bottom: 5px;
  color: white;
  background-color: #4ea6ca;
  text-align: center;
  font-variant: small-caps;
  font-size: 1.5em;
  padding-top: 0.5em;
  padding-right: 1em;
  padding-left: 1em;
  padding-bottom: 0.5em;
  border-bottom: 3px #dcdcdc solid;
}
/* line 111, ../scss/_composants.scss */
header h1 {
  text-transform: uppercase;
}
/* line 113, ../scss/_composants.scss */
header h1 small {
  color: #dcdcdc;
  text-transform: lowercase;
}

/* line 121, ../scss/_composants.scss */
.breadcrumb {
  font-size: 0.7rem;
  font-weight: lighter;
  margin-bottom: 20px;
}
/* line 126, ../scss/_composants.scss */
.breadcrumb li {
  margin: 0 0.2rem 0 0;
  display: inline;
}
/* line 131, ../scss/_composants.scss */
.breadcrumb li:nth-child(1n + 2):before {
  content: " > ";
}

/* line 138, ../scss/_composants.scss */
.jumbotron {
  background-color: #dcdcdc;
  width: 80%;
  margin: auto;
  margin-bottom: 20px;
  padding: 2%;
  text-align: center;
  border-bottom: 3px #666666 solid;
}
/* line 146, ../scss/_composants.scss */
.jumbotron p {
  text-align: center;
  padding-top: 1em;
  padding-left: 3%;
  padding-right: 3%;
}

/* line 158, ../scss/_composants.scss */
.pagination {
  text-align: center;
  margin-top: 0;
  margin-bottom: 1rem;
}
/* line 162, ../scss/_composants.scss */
.pagination li {
  margin: 0 0.2rem 0 0;
  display: inline;
}

/*FOOTER*/
/* line 170, ../scss/_composants.scss */
footer {
  text-align: center;
  font-variant: small-caps;
  background-color: #4ea6ca;
  margin-top: 1rem;
  padding: 5px;
  position: relative;
  left: 0;
  right: 0;
  bottom: 0;
  border-top: 3px #dcdcdc solid;
}
/* line 181, ../scss/_composants.scss */
footer li {
  display: inline-block;
  padding-right: 2%;
  padding-left: 2%;
  margin-left: 0;
}
/* line 188, ../scss/_composants.scss */
footer li a {
  font-size: 0.9rem;
  color: white;
}

/* line 2, ../scss/_adapter.scss */
body {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: .3rem;
  /*border-left: 1px solid $darkBorderUnderDiv;
  border-right: 1px solid $darkBorderUnderDiv;*/
}

/*HEADER*/
/* line 16, ../scss/_adapter.scss */
header #haut img {
  height: auto;
  vertical-align: middle;
}
/* line 21, ../scss/_adapter.scss */
header #haut h1 {
  color: white;
}
/* line 28, ../scss/_adapter.scss */
header #haut #connexion a {
  color: white;
  text-decoration: none;
  padding: .5rem;
  box-sizing: border-box;
}
/* line 35, ../scss/_adapter.scss */
header #haut #connexion a:hover {
  color: white;
}
/* line 53, ../scss/_adapter.scss */
header nav .navbar li a {
  color: white;
  text-decoration: none;
  padding: .5rem;
  box-sizing: border-box;
}
@media screen and (min-width: 768px) {
  /* line 53, ../scss/_adapter.scss */
  header nav .navbar li a {
    text-align: left;
  }
}
/* line 64, ../scss/_adapter.scss */
header nav .navbar li a:hover {
  color: white;
}
/* line 74, ../scss/_adapter.scss */
header nav #recherche_rapide input {
  padding: .5rem;
  vertical-align: middle;
}
/* line 79, ../scss/_adapter.scss */
header nav #recherche_rapide button {
  background: url("../images/recherche_blanc.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 2rem;
  vertical-align: middle;
}

/*Debug marges*/
/* line 95, ../scss/_adapter.scss */
header {
  padding-left: 1rem;
  padding-right: 1rem;
}

/* line 100, ../scss/_adapter.scss */
nav ul.navbar li.liMenu {
  margin-bottom: .5rem;
  margin-top: .5rem;
  border-bottom: 1px solid white;
}
@media screen and (min-width: 768px) {
  /* line 100, ../scss/_adapter.scss */
  nav ul.navbar li.liMenu {
    border: 0;
  }
}

/* line 110, ../scss/_adapter.scss */
nav ul.navbar {
  margin-top: .5rem;
  margin-bottom: .5rem;
}

/* line 115, ../scss/_adapter.scss */
nav {
  border: 0;
}

/* line 119, ../scss/_adapter.scss */
form#recherche_rapide, form#recherche_rapide input.recherche_rapide_textbox {
  margin-top: .5rem;
  margin-bottom: .5rem;
}

/*LISTE DOCUMENTS*/
/* line 125, ../scss/_adapter.scss */
h2 {
  border-bottom: 3px #dcdcdc solid;
  text-align: center;
  margin-bottom: .5rem;
}

/* line 140, ../scss/_adapter.scss */
.ListInfo1 img {
  height: auto;
  float: left;
}
/* line 145, ../scss/_adapter.scss */
.ListInfo1 p.ListDescr {
  height: 5rem;
  overflow: hidden;
}

/* line 153, ../scss/_adapter.scss */
.ListInfo2 {
  clear: both;
}
/* line 157, ../scss/_adapter.scss */
.ListInfo2 p {
  font-size: 1rem;
  font-weight: bolder;
  font-style: italic;
}
/* line 163, ../scss/_adapter.scss */
.ListInfo2 p:last-of-type {
  text-align: right;
}
/* line 167, ../scss/_adapter.scss */
.ListInfo2 p:nth-of-type(2) {
  text-align: center;
}

/*debug marges*/
/* line 175, ../scss/_adapter.scss */
div.ListInfo1 h5, div.ListInfo1 p.ListDescr {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: .7rem;
  vertical-align: top;
}

/* line 183, ../scss/_adapter.scss */
div.ListInfo2 {
  margin-bottom: .5rem;
}

/* line 187, ../scss/_adapter.scss */
div.ListDoc {
  margin-top: 1rem;
  margin-bottom: 1rem;
  height: auto;
  vertical-align: top;
  border-bottom: 1px solid #333333;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: .5rem;
}
@media screen and (min-width: 768px) {
  /* line 187, ../scss/_adapter.scss */
  div.ListDoc {
    height: 18rem;
    border: 1px solid #333333;
  }
}
@media screen and (min-width: 1280px) {
  /* line 187, ../scss/_adapter.scss */
  div.ListDoc {
    height: 12rem;
  }
}

/* line 204, ../scss/_adapter.scss */
div.ListInfo1 img.ImgListDoc {
  margin-bottom: .5rem;
  height: auto;
}
@media screen and (min-width: 768px) {
  /* line 204, ../scss/_adapter.scss */
  div.ListInfo1 img.ImgListDoc {
    max-height: 240px;
  }
}
@media screen and (min-width: 1280px) {
  /* line 204, ../scss/_adapter.scss */
  div.ListInfo1 img.ImgListDoc {
    max-height: 500px;
  }
}

/*DETAILS DOCUMENT*/
/* line 218, ../scss/_adapter.scss */
#detailsDoc img {
  height: auto;
  vertical-align: top;
  max-height: 10rem;
}
@media screen and (min-width: 768px) {
  /* line 218, ../scss/_adapter.scss */
  #detailsDoc img {
    max-height: 23rem;
  }
}
@media screen and (min-width: 1280px) {
  /* line 218, ../scss/_adapter.scss */
  #detailsDoc img {
    float: left;
  }
}
/* line 232, ../scss/_adapter.scss */
#detailsDoc h5 {
  font-weight: bold;
}
/* line 242, ../scss/_adapter.scss */
#detailsDoc p#docType, #detailsDoc p#docGenre {
  clear: both;
  font-weight: bolder;
  font-style: italic;
}
/* line 249, ../scss/_adapter.scss */
#detailsDoc p#docEtat {
  font-weight: bolder;
  font-style: italic;
}
/* line 255, ../scss/_adapter.scss */
#detailsDoc p#docGenre {
  text-align: right;
}
/* line 260, ../scss/_adapter.scss */
#detailsDoc #docEmprunt {
  clear: both;
}
/* line 269, ../scss/_adapter.scss */
#detailsDoc #docEmprunt p:last-of-type {
  text-align: right;
}
@media screen and (min-width: 768px) {
  /* line 269, ../scss/_adapter.scss */
  #detailsDoc #docEmprunt p:last-of-type {
    text-align: left;
  }
}
/* line 282, ../scss/_adapter.scss */
#detailsDoc .docReserve a {
  text-decoration: none;
  text-align: center;
  width: 97%;
  margin-left: 0;
  margin-right: 0;
}

/*debug marges*/
@media screen and (min-width: 768px) {
  /* line 294, ../scss/_adapter.scss */
  div#detailsDoc {
    padding-right: 1rem;
    padding-left: 1rem;
  }
}

/* line 301, ../scss/_adapter.scss */
div#detailsDoc h2 {
  margin-bottom: 1rem;
}

/* line 305, ../scss/_adapter.scss */
div#detailsDoc img {
  margin-bottom: .5rem;
}
@media screen and (min-width: 1280px) {
  /* line 305, ../scss/_adapter.scss */
  div#detailsDoc img {
    margin-left: 1%;
  }
}

/* line 312, ../scss/_adapter.scss */
div#detailsDoc p {
  margin-top: .5rem;
  margin-bottom: .5rem;
}

/* line 317, ../scss/_adapter.scss */
div#detailsDoc p#docEtat {
  margin-bottom: .5rem;
}

/*LOGIN*/
/* line 323, ../scss/_adapter.scss */
#Login h2 {
  margin-bottom: .5rem;
}

/*Debug marges*/
/* line 344, ../scss/_adapter.scss */
div#Login form#login-form label {
  margin-top: .5rem;
}

/* line 348, ../scss/_adapter.scss */
div#Login form#login-form input {
  margin-top: .5rem;
  margin-bottom: .5rem;
}

/* line 353, ../scss/_adapter.scss */
div#Login form#login-form button {
  margin-top: .5rem;
}

/*MOTEUR DE RECHERCHE*/
/* line 359, ../scss/_adapter.scss */
#formMoteurRecherche h2 {
  margin-bottom: .5rem;
}
/* line 363, ../scss/_adapter.scss */
#formMoteurRecherche input {
  margin-bottom: .5rem;
}
/* line 375, ../scss/_adapter.scss */
#formMoteurRecherche input[type=checkbox] {
  text-align: right;
}

/*Debug priorité*/
/* line 391, ../scss/_adapter.scss */
#formMoteurRecherche select.select_moteur_recherche {
  padding: .5rem;
  margin-bottom: .5rem;
  margin-top: .5rem;
}

/* line 397, ../scss/_adapter.scss */
#formMoteurRecherche input#input_motscles {
  margin-bottom: .5rem;
}

/* line 401, ../scss/_adapter.scss */
#formMoteurRecherche button#btnRechercher {
  margin-bottom: .5rem;
}

/* line 405, ../scss/_adapter.scss */
#formMoteurRecherche input[type=checkbox].checkbox_moteur_recherche {
  text-align: right;
}

/*EMPRUNT*/
/* line 410, ../scss/_adapter.scss */
#ListEmprunt {
  border-bottom: 1px solid #333333;
}
/* line 417, ../scss/_adapter.scss */
#ListEmprunt p#EmpruntDescr {
  height: 5rem;
  overflow: hidden;
}
@media screen and (min-width: 768px) {
  /* line 410, ../scss/_adapter.scss */
  #ListEmprunt {
    border: 1px solid #333333;
  }
}

/*Debug marges*/
/* line 433, ../scss/_adapter.scss */
div#ListEmprunt {
  margin-bottom: .5rem;
  margin-top: .5rem;
}

/* line 438, ../scss/_adapter.scss */
div#ListEmprunt h5 {
  font-weight: bolder;
  margin-bottom: .5rem;
  margin-top: .5rem;
}

/* line 444, ../scss/_adapter.scss */
div#ListEmprunt p, div#ListEmprunt p#EmpruntDescr {
  margin-bottom: .5rem;
}

/*RETOUR*/
/* line 454, ../scss/_adapter.scss */
.btnFermer {
  text-decoration: none;
}

/*Jumbotron*/
/*FOOTER*/
/* line 466, ../scss/_adapter.scss */
footer {
  clear: both;
  position: fixed;
  bottom: 0;
  margin-top: 1rem;
}

/* line 9, ../scss/_grid_builder.scss */
.spansmall1, header #haut img, header nav #recherche_rapide button, #formMoteurRecherche input[type=checkbox] {
  margin: 0 1%;
  display: inline-block;
  font-size: 1rem;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 14.66667%;
}

/* line 9, ../scss/_grid_builder.scss */
.spansmall2, header #haut #connexion, .ListInfo1 img, .ListInfo2 p, #detailsDoc #docEmprunt p:last-of-type, #detailsDoc .docReserve, button.btnRetour {
  margin: 0 1%;
  display: inline-block;
  font-size: 1rem;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 31.33333%;
}

/* line 9, ../scss/_grid_builder.scss */
.spansmall3, header #haut h1, #detailsDoc p#docType, #detailsDoc p#docGenre {
  margin: 0 1%;
  display: inline-block;
  font-size: 1rem;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 48%;
}

/* line 9, ../scss/_grid_builder.scss */
.spansmall4, .ListInfo1 h5, .ListInfo1 p.ListDescr, #detailsDoc #docEmprunt p:first-of-type {
  margin: 0 1%;
  display: inline-block;
  font-size: 1rem;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 64.66667%;
}

/* line 9, ../scss/_grid_builder.scss */
.spansmall5, header nav #recherche_rapide input, #formMoteurRecherche label {
  margin: 0 1%;
  display: inline-block;
  font-size: 1rem;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 81.33333%;
}

/* line 9, ../scss/_grid_builder.scss */
.spansmall6, header #haut #connexion a, header nav, header nav .navbar, header nav .navbar li, header nav .navbar li a, header nav #recherche_rapide, h2, .ListDoc, #detailsDoc h5, #detailsDoc p, #detailsDoc p#docEtat, #Login #login-form label, #Login #login-form input, #Login #login-form button, #formMoteurRecherche input, #formMoteurRecherche label:first-of-type, #formMoteurRecherche select, #formMoteurRecherche #btnRechercher, #ListEmprunt, #ListEmprunt h5, #ListEmprunt p#EmpruntDescr, #ListEmprunt p, .jumbotron {
  margin: 0 1%;
  display: inline-block;
  font-size: 1rem;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 98%;
}

/* line 14, ../scss/_grid_builder.scss */
.offsetsmall1 {
  margin-left: 17.66667%;
}

/* line 14, ../scss/_grid_builder.scss */
.offsetsmall2, #detailsDoc img {
  margin-left: 34.33333%;
}

/* line 14, ../scss/_grid_builder.scss */
.offsetsmall3 {
  margin-left: 51%;
}

/* line 14, ../scss/_grid_builder.scss */
.offsetsmall4 {
  margin-left: 67.66667%;
}

/* line 14, ../scss/_grid_builder.scss */
.offsetsmall5 {
  margin-left: 84.33333%;
}

@media screen and (min-width: 768px) {
  /* line 24, ../scss/_grid_builder.scss */
  .spanmedium1, header #haut img, header nav #recherche_rapide button, #formMoteurRecherche input[type=checkbox] {
    margin: 0 1%;
    display: inline-block;
    font-size: 1rem;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 6.33333%;
  }

  /* line 24, ../scss/_grid_builder.scss */
  .spanmedium2, header #haut #connexion, #detailsDoc #docEmprunt p:last-of-type {
    margin: 0 1%;
    display: inline-block;
    font-size: 1rem;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 14.66667%;
  }

  /* line 24, ../scss/_grid_builder.scss */
  .spanmedium3, #detailsDoc #docEmprunt p:first-of-type {
    margin: 0 1%;
    display: inline-block;
    font-size: 1rem;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 23%;
  }

  /* line 24, ../scss/_grid_builder.scss */
  .spanmedium4, header nav #recherche_rapide, .ListInfo1 img, .ListInfo2 p, #detailsDoc .docReserve {
    margin: 0 1%;
    display: inline-block;
    font-size: 1rem;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 31.33333%;
  }

  /* line 24, ../scss/_grid_builder.scss */
  .spanmedium5, #formMoteurRecherche label {
    margin: 0 1%;
    display: inline-block;
    font-size: 1rem;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 39.66667%;
  }

  /* line 24, ../scss/_grid_builder.scss */
  .spanmedium6, header nav .navbar li, .ListDoc, #detailsDoc p#docType, #detailsDoc p#docGenre, #formMoteurRecherche select, #ListEmprunt {
    margin: 0 1%;
    display: inline-block;
    font-size: 1rem;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 48%;
  }

  /* line 24, ../scss/_grid_builder.scss */
  .spanmedium7 {
    margin: 0 1%;
    display: inline-block;
    font-size: 1rem;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 56.33333%;
  }

  /* line 24, ../scss/_grid_builder.scss */
  .spanmedium8, header nav .navbar, .ListInfo1 h5, .ListInfo1 p.ListDescr, #Login #login-form label, #Login #login-form input, #Login #login-form button, .jumbotron {
    margin: 0 1%;
    display: inline-block;
    font-size: 1rem;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 64.66667%;
  }

  /* line 24, ../scss/_grid_builder.scss */
  .spanmedium9, header #haut h1 {
    margin: 0 1%;
    display: inline-block;
    font-size: 1rem;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 73%;
  }

  /* line 24, ../scss/_grid_builder.scss */
  .spanmedium10 {
    margin: 0 1%;
    display: inline-block;
    font-size: 1rem;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 81.33333%;
  }

  /* line 24, ../scss/_grid_builder.scss */
  .spanmedium11, header nav #recherche_rapide input {
    margin: 0 1%;
    display: inline-block;
    font-size: 1rem;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 89.66667%;
  }

  /* line 24, ../scss/_grid_builder.scss */
  .spanmedium12, header #haut #connexion a, header nav, header nav .navbar li a, h2, #detailsDoc h5, #detailsDoc p, #detailsDoc p#docEtat, #formMoteurRecherche input, #formMoteurRecherche label:first-of-type, #formMoteurRecherche #btnRechercher, #ListEmprunt h5, #ListEmprunt p#EmpruntDescr, #ListEmprunt p {
    margin: 0 1%;
    display: inline-block;
    font-size: 1rem;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 98%;
  }

  /* line 29, ../scss/_grid_builder.scss */
  .offsetmedium1 {
    margin-left: 9.33333%;
  }

  /* line 29, ../scss/_grid_builder.scss */
  .offsetmedium2, #Login #login-form label, #Login #login-form input, #Login #login-form button, .jumbotron {
    margin-left: 17.66667%;
  }

  /* line 29, ../scss/_grid_builder.scss */
  .offsetmedium3 {
    margin-left: 26%;
  }

  /* line 29, ../scss/_grid_builder.scss */
  .offsetmedium4, #detailsDoc img {
    margin-left: 34.33333%;
  }

  /* line 29, ../scss/_grid_builder.scss */
  .offsetmedium5 {
    margin-left: 42.66667%;
  }

  /* line 29, ../scss/_grid_builder.scss */
  .offsetmedium6 {
    margin-left: 51%;
  }

  /* line 29, ../scss/_grid_builder.scss */
  .offsetmedium7 {
    margin-left: 59.33333%;
  }

  /* line 29, ../scss/_grid_builder.scss */
  .offsetmedium8 {
    margin-left: 67.66667%;
  }

  /* line 29, ../scss/_grid_builder.scss */
  .offsetmedium9 {
    margin-left: 76%;
  }

  /* line 29, ../scss/_grid_builder.scss */
  .offsetmedium10 {
    margin-left: 84.33333%;
  }

  /* line 29, ../scss/_grid_builder.scss */
  .offsetmedium11 {
    margin-left: 92.66667%;
  }
}
@media screen and (min-width: 1280px) {
  /* line 38, ../scss/_grid_builder.scss */
  .spanlarge1, header nav #recherche_rapide button, #formMoteurRecherche input[type=checkbox] {
    margin: 0 1%;
    display: inline-block;
    font-size: 1rem;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 3.55556%;
  }

  /* line 38, ../scss/_grid_builder.scss */
  .spanlarge2, header #haut img, #detailsDoc #docEmprunt p:last-of-type {
    margin: 0 1%;
    display: inline-block;
    font-size: 1rem;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 9.11111%;
  }

  /* line 38, ../scss/_grid_builder.scss */
  .spanlarge3, header #haut #connexion, .ListInfo1 img, #detailsDoc #docEmprunt p:first-of-type {
    margin: 0 1%;
    display: inline-block;
    font-size: 1rem;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 14.66667%;
  }

  /* line 38, ../scss/_grid_builder.scss */
  .spanlarge4, #detailsDoc img {
    margin: 0 1%;
    display: inline-block;
    font-size: 1rem;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 20.22222%;
  }

  /* line 38, ../scss/_grid_builder.scss */
  .spanlarge5 {
    margin: 0 1%;
    display: inline-block;
    font-size: 1rem;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 25.77778%;
  }

  /* line 38, ../scss/_grid_builder.scss */
  .spanlarge6, .ListInfo2 p, #detailsDoc .docReserve {
    margin: 0 1%;
    display: inline-block;
    font-size: 1rem;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 31.33333%;
  }

  /* line 38, ../scss/_grid_builder.scss */
  .spanlarge7, #detailsDoc p#docType, #detailsDoc p#docGenre {
    margin: 0 1%;
    display: inline-block;
    font-size: 1rem;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 36.88889%;
  }

  /* line 38, ../scss/_grid_builder.scss */
  .spanlarge8, header nav #recherche_rapide, #Login #login-form label, #Login #login-form input, #Login #login-form button, #formMoteurRecherche label, .jumbotron {
    margin: 0 1%;
    display: inline-block;
    font-size: 1rem;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 42.44444%;
  }

  /* line 38, ../scss/_grid_builder.scss */
  .spanlarge9, header nav .navbar li, .ListDoc, #formMoteurRecherche select, #ListEmprunt {
    margin: 0 1%;
    display: inline-block;
    font-size: 1rem;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 48%;
  }

  /* line 38, ../scss/_grid_builder.scss */
  .spanlarge10, header nav .navbar {
    margin: 0 1%;
    display: inline-block;
    font-size: 1rem;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 53.55556%;
  }

  /* line 38, ../scss/_grid_builder.scss */
  .spanlarge11 {
    margin: 0 1%;
    display: inline-block;
    font-size: 1rem;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 59.11111%;
  }

  /* line 38, ../scss/_grid_builder.scss */
  .spanlarge12 {
    margin: 0 1%;
    display: inline-block;
    font-size: 1rem;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 64.66667%;
  }

  /* line 38, ../scss/_grid_builder.scss */
  .spanlarge13, header #haut h1 {
    margin: 0 1%;
    display: inline-block;
    font-size: 1rem;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 70.22222%;
  }

  /* line 38, ../scss/_grid_builder.scss */
  .spanlarge14, #detailsDoc h5, #detailsDoc p {
    margin: 0 1%;
    display: inline-block;
    font-size: 1rem;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 75.77778%;
  }

  /* line 38, ../scss/_grid_builder.scss */
  .spanlarge15, .ListInfo1 h5, .ListInfo1 p.ListDescr {
    margin: 0 1%;
    display: inline-block;
    font-size: 1rem;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 81.33333%;
  }

  /* line 38, ../scss/_grid_builder.scss */
  .spanlarge16 {
    margin: 0 1%;
    display: inline-block;
    font-size: 1rem;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 86.88889%;
  }

  /* line 38, ../scss/_grid_builder.scss */
  .spanlarge17, header nav #recherche_rapide input {
    margin: 0 1%;
    display: inline-block;
    font-size: 1rem;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 92.44444%;
  }

  /* line 38, ../scss/_grid_builder.scss */
  .spanlarge18, header #haut #connexion a, header nav, header nav .navbar li a, h2, #detailsDoc p#docEtat, #formMoteurRecherche input, #formMoteurRecherche label:first-of-type, #formMoteurRecherche #btnRechercher, #ListEmprunt h5, #ListEmprunt p#EmpruntDescr, #ListEmprunt p {
    margin: 0 1%;
    display: inline-block;
    font-size: 1rem;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 98%;
  }

  /* line 43, ../scss/_grid_builder.scss */
  .offsetlarge1 {
    margin-left: 6.55556%;
  }

  /* line 43, ../scss/_grid_builder.scss */
  .offsetlarge2 {
    margin-left: 12.11111%;
  }

  /* line 43, ../scss/_grid_builder.scss */
  .offsetlarge3 {
    margin-left: 17.66667%;
  }

  /* line 43, ../scss/_grid_builder.scss */
  .offsetlarge4 {
    margin-left: 23.22222%;
  }

  /* line 43, ../scss/_grid_builder.scss */
  .offsetlarge5, #Login #login-form label, #Login #login-form input, #Login #login-form button, .jumbotron {
    margin-left: 28.77778%;
  }

  /* line 43, ../scss/_grid_builder.scss */
  .offsetlarge6 {
    margin-left: 34.33333%;
  }

  /* line 43, ../scss/_grid_builder.scss */
  .offsetlarge7 {
    margin-left: 39.88889%;
  }

  /* line 43, ../scss/_grid_builder.scss */
  .offsetlarge8 {
    margin-left: 45.44444%;
  }

  /* line 43, ../scss/_grid_builder.scss */
  .offsetlarge9 {
    margin-left: 51%;
  }

  /* line 43, ../scss/_grid_builder.scss */
  .offsetlarge10 {
    margin-left: 56.55556%;
  }

  /* line 43, ../scss/_grid_builder.scss */
  .offsetlarge11 {
    margin-left: 62.11111%;
  }

  /* line 43, ../scss/_grid_builder.scss */
  .offsetlarge12 {
    margin-left: 67.66667%;
  }

  /* line 43, ../scss/_grid_builder.scss */
  .offsetlarge13 {
    margin-left: 73.22222%;
  }

  /* line 43, ../scss/_grid_builder.scss */
  .offsetlarge14 {
    margin-left: 78.77778%;
  }

  /* line 43, ../scss/_grid_builder.scss */
  .offsetlarge15 {
    margin-left: 84.33333%;
  }

  /* line 43, ../scss/_grid_builder.scss */
  .offsetlarge16 {
    margin-left: 89.88889%;
  }

  /* line 43, ../scss/_grid_builder.scss */
  .offsetlarge17 {
    margin-left: 95.44444%;
  }
}
/* line 11, ../scss/style.scss */
.whitespace, body, header, header nav, header nav .navbar, header nav #recherche_rapide, .ListInfo2, #detailsDoc, #detailsDoc #docEmprunt {
  font-size: 0;
}
/* line 13, ../scss/style.scss */
.whitespace p, body p, header p, header nav p, header nav .navbar p, header nav #recherche_rapide p, .ListInfo2 p, #detailsDoc p, #detailsDoc #docEmprunt p {
  font-size: 1rem;
}
