@import "variables";

body {
  @extend .container;
  //max-width: 1280px;
  height: 100%;
  margin: auto;
}

header {
  a.btnLogout {

    &, &:visited, &:active {
      color: white;
    }

    &:hover{
      color: $lightgray;
    }
  }

  float: inherit;
  height: 50px;
  margin-bottom: 0;
  h1 {
    text-align: center;
    @extend .span-3;
  }
  h5 {
    @extend .offset-5, .span-2;
  }
}

.sideMenu {
  @extend .span-3;
  position: absolute;
  display: inherit;
  height: 100%;
  background-color: $lightgray;

  .boutonsSideBar {
    @extend .btn, .btnLarge, .btnFlat;
    @extend .span-11;
    text-decoration: none;
    text-align: center;
  }
}

.partieDeDroite {
  @extend .offset-4, .span-7;

  .boutonGroupe {
    @extend .row;

    .btnValiderAjoutDoc, .btnAnnuler {
      float: right;
      margin-right: 0;
    }

  }

  button.btn, a.btnAnnuler, input#btnConnexion{
    @extend .btnFlat;
    margin-left: 0;
    @extend .span-3;
  }

  .btnRechercher {
    @extend .btn;
  }

  button.btnAnnuler

  a.btnAnnuler, a.btnFermer, .btnSupprimer,   button.btnAnnuler
  {
    @extend .btn, .btnFlat, .btnRed;
    text-decoration: none;
    width: auto;
    clear: both;
    @extend .span-3;
  }

  button.btnAnnuler{
    width: 25%;
  }

  .btnConfirmer {
    @extend .btn, .btnGreen, .btnFlat;
  }

  a.btnConfirmer {
    width: 4em;
    height: 29px;
    text-decoration: none;
  }

  input.btnConfirmer {
    @extend .btn, .btnGreen, .btnFlat;
    margin: 0;
  }

  .boutonsGestionFond, .btnGestion {
    @extend .btn, .btnXtra, .btnFlat;
    text-decoration: none;
    text-align: center;
  }

  div {
    a {
      @extend .span-12;
    }
  }

  h2 {
    @extend .span-12;
    text-align: center;
    border-bottom: $lightBorderUnderDiv;
    padding-top: 1rem;
    margin-bottom: 1rem;
  }

  form {
    padding: 1em;
    @extend .span-12;

    label {
      @extend .span-12;
    }

    input:not(#rechercheTitreOnly) {
      @extend .span-12;
      margin-bottom: 1em;
    }

    button {
      @extend .span-2;
    }
  }

  #formAjoutDocument {
    select {
      @extend .span-3;

      &:nth-of-type(3) {
        @extend .span-4;
      }

      &:nth-of-type(2), &:nth-of-type(3) {
        @extend .offset-1;
      }
    }
  }

  #formAjoutEtat {
    border: solid 1px $lightgray;

    label {
      clear: left;
    }
  }

  #formMoteurRecherche, #retourDoc {
    p {
      margin: 1% 0 1% 0;
    }

    label#labelTitreOnly {
      float: none;
    }

    input:not(#rechercheTitreOnly) {
      @extend .span-12;
    }

    #labelTitreOnly {
      @extend .span-11;
    }

  }

  #formEditionDocument, .emprunt {
    textarea {
      @extend .span-12;
      min-height: 100px;
    }

  }

  table.tableaudocument, table.tableauadherent {
    //@extend .span-12;
    width: 100%;
    @extend .tablehover, .tablealterne;
  }

  table.tableauaffiche{
    width: 100%;
    @extend .tablealterne;
  }

  .jumbotron {
    margin-top: 3rem;
    .btn {
      float: inherit;
    }
  }

  .selectAjoutDoc {
    select {
      @extend .span-3;

      &:nth-of-type(3) {
        @extend .span-4;
      }

      &:nth-of-type(2), &:nth-of-type(3) {
        @extend .offset-1;
      }
    }
  }

  form.emprunt {

    fieldset {
      &:nth-child(1) {
        @extend .span-4;
      }
    }
  }

  input.inputemprunt {
    //text-align: center;
    @extend .span-4;
  }
}
