@mixin btn($font_color_default,$font_color_hover, $background_color){
  border: transparent solid 1px;
  color: $font_color_default;
  background-color: $background_color;
  display: inline-block;
  padding: 3px 3px;
  margin: 10px;
  font-weight: bold;
  font-family: $typo;
  font-size: 1em;
  text-transform: capitalize;
  -webkit-transition: all 200ms ease-out;
  -moz-transition: all 200ms ease-out;
  -ms-transition: all 200ms ease-out;
  -o-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
  -moz-box-shadow: 0 0 5px #888;
  -webkit-box-shadow: 0 0 5px #888;
  box-shadow: 0 0 5px #888;

  &:hover {
    cursor: pointer;
    background-color: transparent;
    color: $font_color_hover;
    border: $background_color solid 1px;
  }

}
.btn {
  @include btn(white,$gray,$gray);
}

.btnOrange {
  @include btn(white, $orange,$orange);
}

.btnRed {
  @include btn(white, $red,$red);
}

.btnGreen {
  @include btn(white, $green,$green);
}


.btnBlue {
  @include btn(white, $blue,$blue);
}



.btn:active {
  /*border:transparent solid 1px;*/
  -webkit-box-shadow: 0px 0px 42px -11px rgba(0, 0, 0, 0.63);
  -moz-box-shadow: 0px 0px 42px -11px rgba(0, 0, 0, 0.63);
  box-shadow: 0px 0px 42px -11px rgba(0, 0, 0, 0.63);
}

.btnSmall {
  font-weight: normal;
  font-size: $btnSmallFontSize;
  padding: 2px 5px;
}

.btnLarge {
  font-weight: bolder;
  font-size: $btnLargeFontSize;
  padding: 10px 15px;
}

.btnFlat {
  font-weight: lighter;
  font-size: $btnFlatFontSize;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  &:active {
    font-weight: normal;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
}


.btnXtra {
  padding: 1rem;
  margin-left: 0;
  margin-right: 0;
  width: 100%;
}

.btnFancy {
  padding: 8px 16px;
  color: white;
  text-decoration: none;
  vertical-align: middle;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -moz-box-shadow: 2px 2px 1px 0px #656565;
  -webkit-box-shadow: 2px 2px 1px 0px #656565;
  -o-box-shadow: 2px 2px 1px 0px #656565;
  box-shadow: 2px 2px 1px 0px #656565;
  text-shadow: rgba(0, 0, 0, 0.4) 0 1px 0;
}




