<div id="Login">
    <h2>Connexion</h2>

    <form id="login-form" action="valider-login" method="POST">
        <label>Adresse email : </label>
        <input type="email" name="adherent-email" required>
        <label>Mot de passe : </label>
        <input type="password" name="password" required>
        <button type="submit">Se connecter</button>
    </form>
</div>