{% for document in documents %}
    <div class="ListDoc">
        <div class="ListInfo1">
            <img class="ImgListDoc" src="{{ document.image }}" alt="image du document">
            <a class="lienTitre" href="detailsDoc{{ document.id_document }}"><h5>{{ document.titre|raw }}</h5></a>
            <p class="ListDescr">{{ document.description|raw }}</p>
        </div>
        <div class="ListInfo2">
            <p class="ListEtat">{{ document.etat_doc.nom_etat }}</p>

            <p class="ListGenre">{{ document.genre_doc.nom_genre }}</p>

            <p class="ListType">{{ document.type_doc.nom_type }}</p>
        </div>
    </div>

{% endfor %}
