<div id="detailsDoc">
    <h2>Détails d'un document :</h2>

    <img src="{{ document.image }}" alt="image du document">

    <h5>{{ document.titre|raw }}</h5>

    <p>{{ document.description|raw }}</p>

    <p id="docType">{{ document.type_doc.nom_type }}</p>

    <p id="docGenre">{{ document.genre_doc.nom_genre }}</p>

    <p id="docEtat">{{ document.etat_doc.nom_etat }} {{ document.etat_doc.raison }}</p>

    {% if emprunt %}
        <div id="docEmprunt">
            <p>Date de retour prévue :</p>

            <p>{{ document.pret[document.pret|length - 1].date_retour_limite|date('d/m/Y') }}</p>
        </div>
    {% endif %}

    {% if document.etat_doc.id_etat_doc == 1 %}
        <div class="docReserve"><a href="reserverDocument{{ document.id_document }}">Réserver</a></div>
    {% elseif  document.etat_doc.id_etat_doc == 2 %}
        <div class="docReserve"><a href="reserverDocument{{ document.id_document }}">Réserver</a></div>
    {% endif %}

</div>