<!DOCTYPE html>
<html>
<head lang="fr">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Medianet</title>
    <meta name="description" content="Mediathèque en ligne">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="http://www.logo20.com/logo-m/logo-m.png" rel="icon" >
    <link rel="stylesheet" href="style/css/style.css">
</head>
<body>
<header>
    <div id='haut'>
        <a href="accueil"><img id="header-logo" src="http://www.logo20.com/logo-m/logo-m.png" alt="Logo"></a>
        <a href="accueil"><h1>Medianet</h1></a>
        <div id="connexion">
            {% if isLogged == true %}
                <a href="logout">Déconnexion</a>
            {% else %}
                <a href="login">Connexion</a>
            {% endif %}
        </div>
    </div>

    <nav>
        <ul class="navbar">
            <li class="liMenu"><a href="rechercheAvancee">Recherche avancée</a></li>
            {% if isLogged == true %}
                <li class="liMenu"><a href="mesEmprunts">Consulter ses emprunts</a></li>
            {% endif %}
        </ul>
        <!--search-->
        <form id="recherche_rapide" method="get" action="effectuerRecherche">
            <input type="text" class="recherche_rapide_textbox" name="keyword"
                   placeholder="Recherche rapide" required>
            <button id="header-search-submit" type="submit"></button>
        </form>
    </nav>
</header>


<br>
