<div class="jumbotron">
    <h1>Votre action à bien été prise en compte.</h1>

    <p>{{ message | raw }}</p>

    <p>
        <a href="accueil" class="btnFermer">Fermer</a>
        {#<button class="btnRetour" type="submit" onclick="history.go(-{{nbBack}})">Retour</button>#}
    </p>
</div>
