<h2>Les documents que vous avez empruntés :</h2>
{% for pret in adherent.pret %}
    {% for document in pret.document %}
        <div id="ListEmprunt">
                <h5>{{ document.titre|raw }}</h5>
                <p id="EmpruntDescr">{{ document.description|raw }}</p>
                <p>Prêté depuis le :{{ pret.created_at|date('d/m/Y') }}</p>

                
                {% if pret.date_retour_limite|date('d/m/Y') < "now"|date('d/m/Y') %}
                   <mark><p>Retard, attendu pour le {{ pret.date_retour_limite|date('d/m/Y') }}</p></mark>
                {% else %}
                    <p>Date de retour limite du document : {{ pret.date_retour_limite|date('d/m/Y') }}</p>
                {% endif %} 
        </div>
    {% endfor %}
{% endfor %}