<form id="formMoteurRecherche" method="get" action="effectuerRecherche">

    <h2>Recherche de document : </h2>


    <label class="label">Mots-clés (titre, description, auteur...)</label>
    <input type="text" id="input_motscles" name="keyword">

    <input type="checkbox" class="checkbox_moteur_recherche" name="title_only">
    <label>Rechercher dans le titre uniquement</label>

    <input type="checkbox" class="checkbox_moteur_recherche" name="dispo_only">
    <label>Disponibles uniquement</label>


    <select name="genre_doc" class="select_moteur_recherche">
        <option value="" selected>Tous les genres</option>
        {% for genre_doc in genres %}
            <option value="{{ genre_doc.id_genre_doc }}">{{ genre_doc.nom_genre }}</option>
        {% endfor %}
    </select>


    <select name="type_doc" class="select_moteur_recherche">
        <option value="" selected>Tous les types</option>
        {% for type_doc in types %}
            <option value="{{ type_doc.id_type_doc }}">{{ type_doc.nom_type }}</option>
        {% endfor %}
    </select>

    <button id="btnRechercher" type="submit" value="valid_rechercher">rechercher</button>
</form>

