<table class="tableaudocument">
    <tr>
        <th>Titre</th>
        {#<th>Description</th>#}
        <th>Genre</th>
        <th>Type</th>
        <th>Etat</th>
        <th>Raison</th>
        <th>Référence</th>
        <th>Date d'ajout</th>
    </tr>
    {% for doc in documents %}

        <tr>
            <td><a href="editionDoc{{ doc.id_document }}">{{ doc.titre|raw }}</a></td>
            {#<td>{{ doc.description|raw }}</td>#}
            <td>{{ doc.genre_doc.nom_genre }}</td>
            <td>{{ doc.type_doc.nom_type }}</td>
            <td>{{ doc.etat_doc.nom_etat }}</td>
            <td>{{ doc.etat_doc.raison }}</td>
            <td>{{ doc.id_document }}</td>
            <td>{{ doc.created_at |date('d/m/Y') }}</td>
        </tr>

    {% endfor %}
</table>
