<h2>Vous devez vous connectez pour accéder à cette zone</h2>
<form class="login-form" action="valider-login" method="POST">
    Adresse email :
    <input type="email" name="admin-email" required>
    <br>
    Mot de passe :
    <input type="password" name="password" required>
    <input class="btnConfirmer" type="submit" value="se connecter">
</form>
