<h2>Emprunt de documents</h2>

<form class="emprunt" action="ajoutEmprunt" method="POST">
    <label>référence des documents (Chaque référence sera séparé par un point virgule)</label>
    <textarea class="textarea-ref-doc" name="ref-document"></textarea>

    <fieldset>
        <label>référence du client</label>
        <input class="inputemprunt" type="number" name="ref-client">
        <p>ou</p>
        <label>adresse email du client</label>
        <input class="inputemprunt" type="email" name="email-client">
    </fieldset>

    <input class="btnConfirmer" type="submit" value="Valider">
</form>
