<div>
    <h2>Ajouter un adhérent</h2>


  <div>
    <form id="formAjoutAdherent" method="post" action="{{action}}">
      <label>Nom</label>
      <input type="text" name="nom" required>
      <br />
      <label>Prenom</label>
      <input type="text" name="prenom" required>
      <br />
      <label>Adresse mail</label>
      <input type="email" name="mail" required>
      <br />
      <label>Mot de passe</label>
      <input type="password" name="mdp" required>
      <br />
      <label>Téléphone</label>
      <input type="number" name="tel" required>
      <br />
      <input type="submit" class="btnConfirmer">
    </form>
  </div>

</div>
