<h2>Ajouter un type / genre / état de document</h2>

<div class="formulaires">
    <form class="formAjoutTypeGenre" method="post" action="validerAjoutType">
        <label>Type</label>
        <input type="text" class="input_type_etat_genre" name="type" required>
        <button class="btnConfirmer" type="submit" value="valid_saisie">Valider</button>
    </form>

    <form class="formAjoutTypeGenre" method="post" action="validerAjoutGenre">
        <label>Genre</label>
        <input type="text" class="input_type_etat_genre" name="genre" required>
        <button class="btnConfirmer" type="submit" value="valid_saisie">Valider</button>
    </form>

    <form id="formAjoutEtat" method="post" action="validerAjoutEtat">
        <label>Etat</label>
        <input type="text" class="input_type_etat_genre" name="etat" required>
        <label>Raison (facultatif)</label>
        <input type="text" class="input_type_etat_genre" name="raison">

        <button class="btnConfirmer" type="submit" value="valid_saisie">Valider</button>
    </form>
</div>

