<h2>Ajouter un document</h2>

<form id="formAjoutDocument" method="post" action="validerAjoutDoc">

    <label>Titre</label>
    <input type="text" id="input_titre" name="titre" required>

    <label>Description</label>
    <input type="text" id="input_description" name="description" required>

    <label>URL de l'image</label>
    <input type="text" id="input_urlimage" name="urlimage">


    <select name="type_doc" class="select_creation_doc" required>
        <option value="" selected disabled>Type</option>
        {% for type_doc in types %}
            <option value="{{ type_doc.id_type_doc }}">{{ type_doc.nom_type }}</option>
        {% endfor %}
    </select>

    <select name="genre_doc" class="select_creation_doc" required>
        <option value="" selected disabled>Genre</option>
        {% for genre_doc in genres %}
            <option value="{{ genre_doc.id_genre_doc }}">{{ genre_doc.nom_genre }}</option>
        {% endfor %}
    </select>

    <select name="etat_doc" class="select_creation_doc" required>
        <option value="" selected disabled>Etat</option>
        {% for etat_doc in etats %}
            <option value="{{ etat_doc.id_etat_doc }}">{{ etat_doc.nom_etat }} {% if etat_doc.raison %} ({{ etat_doc.raison }}){% endif %}</option>
        {% endfor %}
    </select>

    <div class="boutonGroupe">
        <button class="btnAnnuler" type="button" onclick="history.go(-1)">Retour</button>
        <button class="btnConfirmer" type="submit" value="valid_saisie">Valider</button>
    </div>
</form>
