<div class="jumbotron">
  <h2>Etes vous sur de vouloir supprimer cet adhérent ?</h2>
  <div class="row">
    <div class="offset-5 aljustified">Nom : {{nom}} <br />Prenom : {{prenom}} <br />Mail : {{mail}}</div>
  </div>
    <div class="row">
      <a href="{{action}}" class="btnConfirmer">Valider</a>
      <button class="btnAnnuler" onclick="history.go(-2)">Annuler</button>
    </div>
</div>
