<h2>Edition du document</h2>

<form id="formEditionDocument" method="post" action="validerEditionDoc">
    <label>Titre</label>
    <input type="text" id="input_titre" name="titre" value="{{ document.titre|raw }}" placeholder="{{ document.titre|raw }}">

    <label>Description</label>
    <textarea id="input_description" name="description" required>{{ document.description|raw }}</textarea>


    <label>URL de l'image</label>
    <input type="text" id="input_urlimage" name="urlimage" value="{{ document.image }}"
           placeholder="{{ document.image }}">
    <img style="width:200px; height:auto;" src="{{ document.image }}" alt="image du document">

    <fieldset class="selectAjoutDoc">
        <select name="genre_doc" class="select_creation_doc" required>
            <option value="{{ document.genre_doc.id_genre_doc }}" selected>{{ document.genre_doc.nom_genre }}</option>
            {% for genre_doc in genres %}
                {% if document.genre_doc.id_genre_doc != genre_doc.id_genre_doc %}
                    <option value="{{ genre_doc.id_genre_doc }}">{{ genre_doc.nom_genre }}</option>
                {% endif %}
            {% endfor %}
        </select>


        <select name="etat_doc" class="select_creation_doc" required>


            {#QUAND EMPRUNTE ou RESERVE -> ON NE PEUX RIEN FAIRE#}
            {% if document.etat_doc.id_etat_doc == 2 or document.etat_doc.id_etat_doc == 6or document.etat_doc.id_etat_doc == 5 %}

            <option value="{{ document.etat_doc.id_etat_doc }}" selected> {{ document.etat_doc.nom_etat }}{% if document.etat_doc.raison %} ({{ document.etat_doc.raison }}) {% endif %}

            {% else %}
                <option value="{{ document.etat_doc.id_etat_doc }}"
                        selected> {{ document.etat_doc.nom_etat }} {% if document.etat_doc.raison %} ({{ document.etat_doc.raison }}) {% endif %}</option>
                {% for etat_doc in etats %}

                    {% if document.etat_doc.id_etat_doc != etat_doc.id_etat_doc %}
                        {% if etat_doc.id_etat_doc != 2 and etat_doc.id_etat_doc != 6 and etat_doc.id_etat_doc != 5 %}
                            <option value="{{ etat_doc.id_etat_doc }}">{{ etat_doc.nom_etat }} {% if etat_doc.raison %} ({{ etat_doc.raison }}){% endif %}</option>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            {% endif %}
        </select>

        <select name="type_doc" class="select_creation_doc" required>
            <option value="{{ document.type_doc.id_type_doc }}" selected>{{ document.type_doc.nom_type }}</option>
            {% for type_doc in types %}
                {% if document.type_doc.id_type_doc != type_doc.id_type_doc %}
                    <option value="{{ type_doc.id_type_doc }}">{{ type_doc.nom_type }}</option>
                {% endif %}
            {% endfor %}
        </select>
    </fieldset>
    {#    <div class="boutonGroupe">#}
    <button class="btnConfirmer" type="submit" value="confirmer">Confirmer</button>
</form>
<a class="btnSupprimer" href="supprimerDocument{{ document.id_document }}">Supprimer</a>
<button class="btn" type="submit" onclick="history.back(-1)">Retour</button>

{#</div>#}
