<div>
  <h2>Retour de documents</h2>


  <form action="{{action}}" method="post" id="retourDoc">
    <label>Références des documents:</label> <input type="text" name="reference_document">
    <p>Chaque réfèrence doit être séparée par un point virgule<p>
    <input type="submit" class="btnConfirmer">
  </form>
</div>
