<div>
  <h2>Gestion des adhérents</h2>

  <div id="idChoixUseAdherent">
    <a href="ajouterAdherent" class="btnGestion">Ajouter un adhérent</a>
    <a href="rechercheAdherent" class="btnGestion">Modifier ou supprimer un adhérent</a>
  </div>
</div>
