<h2>Gestion du Fond</h2>

<div>
    <a class="boutonsGestionFond" href="ajouterTypeGenreEtat">Ajouter un type, genre, état de document</a>
    <a class="boutonsGestionFond" href="rechercherEditerDocument">Rechercher ou modifier un document</a>
    <a class="boutonsGestionFond" href="ajouterDocument">Ajouter un document</a>
</div>
