<!DOCTYPE html>
<html>
<head lang="fr">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Administration - Medianet</title>
    <meta name="description" content="Administration - Medianet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="http://www.logo20.com/logo-m/logo-m.png" rel="icon" >
    <link rel="stylesheet" href="style/css/style.css">
</head>


<body>
<header>
    <div class="row">
    <h1>Administration</h1>

    {% if isLogged == true %}
        <h5>Bienvenue {{ admin.prenom }} {{ admin.nom }}</h5>
        <h5><a href="logout" class="btnLogout">Déconnexion</a></h5>
    {% endif %}
    </div>
</header>
