<div class="jumbotron">

    <p>Le document {{ titre|raw }} à bien été ajouté sous la référence</p>

    <h1>{{ id }}</h1>
        {#<a href="accueil" class="btnFermer">Fermer</a>#}
        <button class="btn" type="submit" onclick="history.go(-2)">Retour</button>
</div>

