<div>

  <h2>Gestion des adhérents</h2>

  <table class="tableauadherent">
      <tr>
          <th>ID</th>
          <th>Nom</th>
          <th>Prenom</th>
          <th>Mail</th>
          <th>Tel</th>
          <th>Nb Retard</th>
      </tr>
      {% for adh in adherent_correspondant %}
          <tr>
              <td><a href="modifierAdherent{{adh.id_adherent}}">{{ adh.id_adherent }}</a></td>
              <td><a href="modifierAdherent{{adh.id_adherent}}">{{ adh.nom }}</a></td>
              <td><a href="modifierAdherent{{adh.id_adherent}}">{{ adh.prenom }}</a></td>
              <td><a href="modifierAdherent{{adh.id_adherent}}">{{ adh.email }}</a></td>
              <td><a href="modifierAdherent{{adh.id_adherent}}">{{ adh.num_tel }}</a></td>
              <td><a href="modifierAdherent{{adh.id_adherent}}">{{ adh.nb_retard }}</a></td>
          </tr>
      {% endfor %}
  </table>

</div>
