<div>
  <h2>Modifier un adhérent</h2>

  <div>
      <form id="formAjoutAdherent" method="post" action="{{action}}">
        <label>Nom</label>
        <input type="text" name="nom" value="{{nom}}">
        <br />
        <label>Prenom</label>
        <input type="text" name="prenom" value="{{prenom}}">
        <br />
        <label>Adresse mail</label>
        <input type="email" name="mail" value="{{mail}}">
        <br />
        <label>Mot de passe</label>
        <input type="password" name="mdp" value="{{mdp}}">
        <br />
        <label>Téléphone</label>
        <input type="number" name="tel" value="{{tel}}">
        <br />
        <input type="submit" class="btnConfirmer">
      </form>
      <a href="{{actionSup}}" class="btnSupprimer">Supprimer adhérent</a>
  </div>
</div>
