<h2>Recherche de document </h2>

<form id="formMoteurRecherche" method="get" action="effectuerRechercheDocument">

    <div class="ligne1">
        <label>Mots-clés (titre, description, auteur...)</label>
        <input type="text" id="input_motscles" name="keyword">
    </div>
    <input id="rechercheTitreOnly" type="checkbox" class="checkbox_moteur_recherche" name="title_only">
    <label id="labelTitreOnly">Rechercher dans le titre uniquement</label>


    <p>OU</p>

    <div class="ligne2">
        <label>Id du document</label>
        <input type="number" id="input_iddocument" name="iddoc">
    </div>

    <button class="btnRechercher" type="submit" value="valid_rechercher">rechercher</button>
</form>


