<h2>Documents empruntés par le client {{ adherent.nom }} {{ adherent.prenom }} :</h2>

<table class="tableauaffiche">
    <tr>
        {#        <th>Visuel</th>#}
        <th>Titre</th>
        {#<th>Commentaire</th>#}
        <th>Genre</th>
        <th>Type</th>
        <th>Date limite de retour</th>
    </tr>
    {% for doc in documents_dispo %}
        <tr>
            {#<td><img style="max-width:200px;" alt="{{ doc.titre }}" src="{{ doc.image }}" /></td>#}
            <td>{{ doc.titre|raw }}</td>
            {#<td>{{ doc.commentaire }}</td>#}
            <td>{{ doc.genre_doc.nom_genre }}</td>
            <td>{{ doc.type_doc.nom_type }}</td>
            <td>{{ doc.pret[doc.pret|length - 1].date_retour_limite|date('d/m/Y') }}</td>
        </tr>
    {% endfor %}
</table>


{% if documents_indisponible is not empty %}
    <h2>Ces documents ne sont pas disponibles :</h2>
    <table class="tableauaffiche">
        <tr>
            {#<th>Visuel</th>#}
            <th>Titre</th>
            {#<th>Commentaire</th>#}
            <th>Genre</th>
            <th>Type</th>
            <th>Etat</th>
        </tr>
        {% for doc in documents_indisponible %}
            <tr>
                {#<td><img style="max-width:200px;" src="{{ doc.image }}" /></td>#}
                <td>{{ doc.titre|raw }}</td>
                {#<td>{{ doc.commentaire }}</td>#}
                <td>{{ doc.genre_doc.nom_genre }}</td>
                <td>{{ doc.type_doc.nom_type }}</td>
                <td>
                    {{ doc.etat_doc.nom_etat }}
                    {% if doc.etat_doc.raison != null %}
                        ({{ doc.etat_doc.raison }})
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>
{% endif %}

<button class="btn" type="submit" onclick="history.back(-1)">Retour</button>
