<h2>Documents restitués :</h2>

<table class="tableauaffiche">
    <tr>
        <th>Titre</th>
        <th>Genre</th>
        <th>Type</th>

    </tr>
    {% for doc in documents_rendus %}
        <tr>
            <td>{{ doc.titre|raw }}</td>
            <td>{{ doc.genre_doc.nom_genre }}</td>
            <td>{{ doc.type_doc.nom_type }}</td>

        </tr>
    {% endfor %}
</table>


{% if documents_restant_a_rendre.pret[documents_restant_a_rendre.pret|length - 1].document is not empty %}
    <h2>Documents encore en possession de {{ documents_restant_a_rendre.prenom }} 
        {{ documents_restant_a_rendre.nom }} ({{documents_restant_a_rendre.id_adherent}}) :</h2>
    <table class="tableauaffiche">
        <tr>
            <th>Titre</th>
            <th>ID Document</th>
            <th>Date limite de retour</th>
        </tr>
        {% for doc in documents_restant_a_rendre.pret[documents_restant_a_rendre.pret|length - 1].document %}
            <tr>
                <td>{{ doc.titre|raw }}</td>
                <td>{{ doc.id_document }}</td>
                <td>{{ documents_restant_a_rendre.pret[documents_restant_a_rendre.pret|length - 1].date_retour_limite|date('d/m/Y') }}</td>
            </tr>
        {% endfor %}
    </table>
{% endif %}

<button class="btn" type="submit" onclick="history.back(-1)">Retour</button>
