<div>
  <h2>Rechercher adhérent</h2>

  <div>
  <form action="{{action}}" method="post">
    <label>Nom de l'adherent:</label> <input type="text" name="nom_adherent" >
    <br />
    <label>Mail de l'adherent:</label> <input type="text" name="mail_adherent" >
    <br />
    <label>N° de l'adherent:</label> <input type="text" name="num_adherent" >
    <br />

    <input type="submit" class="btnConfirmer">

  </form>
  </div>
</div>
