<div class="sideMenu">
{#
    <nav>
        <ul>
            <li><a href="retourEmprunt">Retour Document</a></li>
            <li><a href="afficheEmprunt">Emprunt</a></li>
            <li><a href="gestionFond">Gestion fond</a></li>
            <li><a href="gestionAdherent">Gestion adhérents</a></li>
        </ul>
    </nav>
#}

    <div>
        <a class="boutonsSideBar" href="retourEmprunt">Retour Document</a>
        <a class="boutonsSideBar" href="afficheEmprunt">Emprunt</a>
        <a class="boutonsSideBar" href="gestionFond">Gestion fond</a>
        <a class="boutonsSideBar" href="gestionAdherent">Gestion adhérents</a>
    </div>
</div>

<div class="partieDeDroite">