//@import "variables";
body {
  @extend .whitespace;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: .3rem;
  /*border-left: 1px solid $darkBorderUnderDiv;
  border-right: 1px solid $darkBorderUnderDiv;*/
}

/*HEADER*/
header {
  @extend .whitespace;
  #haut {
    img {
      @extend .spansmall1, .spanmedium1, .spanlarge2;
      height: auto;
      vertical-align: middle;
    }
    h1 {
      @extend .spansmall3, .spanmedium9, .spanlarge13;
      color: white;
    }

    #connexion {
      @extend .spansmall2, .spanmedium2, .spanlarge3;
      a {
        @extend .spansmall6, .spanmedium12, .spanlarge18;
        color: white;
        text-decoration: none;
        padding: .5rem;
        box-sizing: border-box;

        &:hover {
          color: white;
        }
      }
    }
  }

  nav {
    @extend .spansmall6, .spanmedium12, .spanlarge18;
    @extend .whitespace;
    .navbar {
      @extend .whitespace;
      @extend .ulnostyle;
      @extend .spansmall6, .spanmedium8, .spanlarge10;

      li {
        @extend .spansmall6, .spanmedium6, .spanlarge9;
        //padding: .5rem;
        a {
          color: white;
          text-decoration: none;
          @extend .spansmall6, .spanmedium12, .spanlarge18;
          padding: .5rem;
          box-sizing: border-box;

          @media screen and (min-width: $responsivewidthtablette) {
            text-align: left;
          }

          &:hover {
            color: white;
          }
        }
      }
    }

    #recherche_rapide {
      @extend .spansmall6, .spanmedium4, .spanlarge8;
      @extend .whitespace;
      input {
        @extend .spansmall5, .spanmedium11, .spanlarge17;
        padding: .5rem;
        vertical-align: middle;
      }
      button {
        @extend .spansmall1, .spanmedium1, .spanlarge1;
        @extend .btn, .btnFlat, .btnBlue;
        background: url("../images/recherche_blanc.png");
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        height: 2rem;
        vertical-align: middle;
        //padding: .5rem;
      }
    }
  }
}

/*Debug marges*/
header {
  padding-left: 1rem;
  padding-right: 1rem;
}

nav ul.navbar li.liMenu {
  margin-bottom: .5rem;
  margin-top: .5rem;
  border-bottom: 1px solid white;

  @media screen and (min-width: $responsivewidthtablette) {
    border: 0;
  }
}

nav ul.navbar {
  margin-top: .5rem;
  margin-bottom: .5rem;
}

nav {
  border: 0;
}

form#recherche_rapide, form#recherche_rapide input.recherche_rapide_textbox {
  margin-top: .5rem;
  margin-bottom: .5rem;
}

/*LISTE DOCUMENTS*/
h2 {
  border-bottom: $lightBorderUnderDiv;
  @extend .spansmall6, .spanmedium12, .spanlarge18;
  text-align: center;
  margin-bottom: .5rem;
}

.ListDoc {
  @extend .spansmall6, .spanmedium6, .spanlarge9;
}

.ListInfo1 {
  h5 {
    @extend .spansmall4, .spanmedium8, .spanlarge15;
  }
  img {
    @extend .spansmall2, .spanmedium4, .spanlarge3;
    height: auto;
    float: left;
  }
  p.ListDescr {
    @extend .spansmall4, .spanmedium8, .spanlarge15;
    height: 5rem;
    overflow: hidden;
    @extend .aljustified;
  }
}

.ListInfo2 {
  @extend .whitespace;
  clear: both;

  p {
    font-size: 1rem;
    @extend .spansmall2, .spanmedium4, .spanlarge6;
    font-weight: bolder;
    font-style: italic;

    &:last-of-type {
      text-align: right;
    }

    &:nth-of-type(2) {
      text-align: center;
    }
  }

}

/*debug marges*/
div.ListInfo1 h5, div.ListInfo1 p.ListDescr {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: .7rem;
  vertical-align: top;

}

div.ListInfo2 {
  margin-bottom: .5rem;
}

div.ListDoc {
  margin-top: 1rem;
  margin-bottom: 1rem;
  height: auto;
  vertical-align: top;
  border-bottom: 1px solid $darkgray;
  @include box-sizing(border-box);
  padding: .5rem;
  @media screen and (min-width: $responsivewidthtablette) {
    height: 18rem;
    border: 1px solid $darkgray;
  }
  @media screen and (min-width: $responsivewidthscreen) {
    height: 12rem;
  }
}

div.ListInfo1 img.ImgListDoc {
  margin-bottom: .5rem;
  height: auto;
  @media screen and (min-width: $responsivewidthtablette) {
    max-height: 240px;
  }
  @media screen and (min-width: $responsivewidthscreen) {
    max-height: 500px;
  }
}

/*DETAILS DOCUMENT*/
#detailsDoc {
  @extend .whitespace;
  img {
    @extend .spanlarge4;
    @extend .offsetsmall2, .offsetmedium4;
    height: auto;
    @media screen and (min-width: $responsivewidthtablette) {
      max-height: 23rem;
    }
    vertical-align: top;
    max-height: 10rem;
    @media screen and (min-width: $responsivewidthscreen) {
      float: left;
    }
  }

  h5 {
    @extend .spansmall6, .spanmedium12, .spanlarge14;
    font-weight: bold;
  }

  p {
    @extend .spansmall6, .spanmedium12, .spanlarge14;
    @extend .aljustified;
  }

  p#docType, p#docGenre {
    @extend .spansmall3, .spanmedium6, .spanlarge7;
    clear: both;
    font-weight: bolder;
    font-style: italic;
  }

  p#docEtat {
    @extend .spansmall6, .spanmedium12, .spanlarge18;
    font-weight: bolder;
    font-style: italic;
  }

  p#docGenre {
    text-align: right;
    @extend .spanlarge7;
  }

  #docEmprunt {
    @extend .whitespace;
    clear: both;

    p:first-of-type {
      @extend .spansmall4, .spanmedium3, .spanlarge3;

    }

    p:last-of-type {
      @extend .spansmall2, .spanmedium2, .spanlarge2;
      text-align: right;

      @media screen and (min-width: $responsivewidthtablette) {
        text-align: left;
      }
    }
  }

  .docReserve {
    @extend .spansmall2, .spanmedium4, .spanlarge6;

    a {
      text-decoration: none;
      @extend .btn, .btnBlue, .btnFlat;
      text-align: center;
      width: 97%;
      margin-left: 0;
      margin-right: 0;
    }
  }
}

/*debug marges*/
div#detailsDoc {
  @media screen and (min-width: $responsivewidthtablette) {
    padding-right: 1rem;
    padding-left: 1rem;
  }
}

div#detailsDoc h2 {
  margin-bottom: 1rem;
}

div#detailsDoc img {
  margin-bottom: .5rem;
  @media screen and (min-width: $responsivewidthscreen) {
    margin-left: 1%;
  }
}

div#detailsDoc p {
  margin-top: .5rem;
  margin-bottom: .5rem;
}

div#detailsDoc p#docEtat {
  margin-bottom: .5rem;
}

/*LOGIN*/
#Login {
  h2 {
    margin-bottom: .5rem;
  }
  #login-form {
    label {
      @extend .spansmall6, .spanmedium8, .spanlarge8;
      @extend .offsetmedium2, .offsetlarge5;
    }
    input {
      @extend .spansmall6, .spanmedium8, .spanlarge8;
      @extend .offsetmedium2, .offsetlarge5;
    }
    button {
      @extend .btn, .btnFlat, .btnBlue;
      @extend .spansmall6, .spanmedium8, .spanlarge8;
      @extend .offsetmedium2, .offsetlarge5;
    }
  }
}

/*Debug marges*/
div#Login form#login-form label {
  margin-top: .5rem;
}

div#Login form#login-form input {
  margin-top: .5rem;
  margin-bottom: .5rem;
}

div#Login form#login-form button {
  margin-top: .5rem;
}

/*MOTEUR DE RECHERCHE*/
#formMoteurRecherche {
  h2 {
    margin-bottom: .5rem;
  }

  input {
    @extend .spansmall6, .spanmedium12, .spanlarge18;
    margin-bottom: .5rem;
  }

  label {
    &:first-of-type {
      @extend .spansmall6, .spanmedium12, .spanlarge18;
    }
    @extend .spansmall5, .spanmedium5, .spanlarge8;
  }

  input[type=checkbox] {
    @extend .spansmall1, .spanmedium1, .spanlarge1;
    text-align: right;
  }

  select {
    @extend .spansmall6, .spanmedium6, .spanlarge9;
  }

  #btnRechercher {
    @extend .spansmall6, .spanmedium12, .spanlarge18;
    @extend .btn, .btnFlat, .btnBlue;
  }
}

/*Debug priorité*/
#formMoteurRecherche select.select_moteur_recherche {
  padding: .5rem;
  margin-bottom: .5rem;
  margin-top: .5rem;
}

#formMoteurRecherche input#input_motscles {
  margin-bottom: .5rem;
}

#formMoteurRecherche button#btnRechercher {
  margin-bottom: .5rem;
}

#formMoteurRecherche input[type=checkbox].checkbox_moteur_recherche {
  text-align: right;
}

/*EMPRUNT*/
#ListEmprunt {
  @extend .spansmall6, .spanmedium6, .spanlarge9;

  h5 {
    @extend .spansmall6, .spanmedium12, .spanlarge18;
  }

  p#EmpruntDescr {
    @extend .spansmall6, .spanmedium12, .spanlarge18;
    height: 5rem;
    overflow: hidden;
  }
  border-bottom: 1px solid $darkgray;
  @media screen and (min-width: $responsivewidthtablette) {
    border: 1px solid $darkgray;
  }

  p {
    @extend .spansmall6, .spanmedium12, .spanlarge18;
  }
}

/*Debug marges*/
div#ListEmprunt {
  margin-bottom: .5rem;
  margin-top: .5rem;
}

div#ListEmprunt h5 {
  font-weight: bolder;
  margin-bottom: .5rem;
  margin-top: .5rem;
}

div#ListEmprunt p, div#ListEmprunt p#EmpruntDescr {
  margin-bottom: .5rem;
}

/*RETOUR*/
button.btnRetour {
  @extend .btn, .btnFlat;
  @extend .spansmall2;
}

.btnFermer {
  @extend .btn, .btnFlat, .btnRed;
  text-decoration: none;
}

/*Jumbotron*/
.jumbotron {
  @extend .spansmall6, .spanmedium8, .spanlarge8;
  @extend .offsetmedium2, .offsetlarge5;
}

/*FOOTER*/
footer {
  clear: both;
  position: fixed;
  bottom: 0;

  margin-top: 1rem;
}