@keyframes blinker {
  from {
    opacity: 1.0;
  }
  to {
    opacity: 0.5;
  }
}

@mixin alert($color, $backgroundColor){
  box-sizing: border-box;
  display: inline-block;
  border: transparent solid 1px;
  color: $color;
  background-color: $backgroundColor;
  display: inline-block;
  padding: 1rem;
  font-weight: bold;
  font-family: $typo;
  font-size: 1em;
  text-transform: uppercase;
  margin: 10px 0;
  width: 100%;
  text-align: center;
  border-radius: 15px;
  text-decoration: blink;
  -webkit-animation-name: blinker;
  -webkit-animation-duration: 0.7s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-direction: alternate;
}

.alert {
  @include alert(white,$gray);
}

.alertOrange {
  @include alert(white,$orange);
}

.alertGreen {
  @include alert(white,$green);
}

.alertBlue {
  @include alert(white,$blue);
}

.alertRed {
  @include alert(white,$red);
}