@import "reset";
@import "variables";
@import "alerts";
@import "typos";
@import "buttons";
@import "composants";
@import "adapter";

@include grid_build($default_totalwidth, $default_colNbsmall, $default_colNbMedium, $default_colNbLarge, $default_marginW);

.whitespace {
  font-size: 0;
  p {
    font-size: 1rem;
  }
}


